*{
    margin: 0;
    box-sizing: border-box;
}

.nav1{
    background-color: black;
    height: 125px;
    width: 100%;
}

.navbar{
    background-color: black;
    height: 120px;
    top: 0;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 0 20px;
    align-items: center;
    position:fixed;
    z-index: 1;
    width: 100%;
}  

.logo{
    height: 100px;
    width: 250px;
    margin-top: 15px;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.container{
    
    position:sticky;

}

.container img{
    height: 450px;
    width: 100%;
    
}

.top-left{
    position: absolute;
    top: 5%;
    left:27%;
}

p{
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    margin-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont1{
    display: flex;
    justify-content: space-evenly;
}

.cont2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.footer{
    margin-top: 30px;
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
}

.footer1{
    display: flex;
    justify-content: space-evenly;
}

.foot{
    display: flex;
    justify-content: space-evenly;
}

.last{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-left: 50px;
}

.symbol{
    margin-top: 25px;
    margin-left: 140px;

}

.contacts{
    text-align: center;
    margin-left: 200px;
    margin-top: 15px;
}


.links{
    text-align: center;
    margin-left: 225px;
    margin-top: 15px;
}

.follow{
    text-align: center;
    margin-left: 225px;
    margin-top: 15px;
}

.fa-brands{
    color: white;
}

hr{
    background-color: white;
    height: 2px;
    width: 100%;
    
}

.end{
    color: white;
    margin-left: 3%;
    font-size: 20px;
}

.footer2{
    margin-top: 10px;
}